<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เข้าสู่ระบบคณะ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/Kalasin_University_Seal.svg.png') }}" type="image/x-icon">
</head>
<body>
    <div class="login-container">
        <!-- Logo Section -->
        <div class="logo">
            <img src="{{ url_for('static', filename='images/Kalasin_University_Seal.svg.png') }}" alt="Logo">
        </div>
        
        <h1>เข้าสู่ระบบคณะ</h1>
        <form method="POST">
            <label for="username">ชื่อผู้ใช้</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            
            <label for="password">รหัสผ่าน</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <button type="submit">Login</button>
        </form>

        <div class="register-link">
            <p>ยังไม่มีบัญชี? <a href="{{ url_for('register_faculty') }}">สมัครสมาชิกคณะ</a></p>
        </div>
    </div>
</body>
</html>
